<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>LAPS Staff Login Page</title>
</head>

<body>
	<div class="container">
  		<h2 >Welcome to LAPS for staff!</h2>
	</div>

	  <form th:object="${login}" th:action="@{'/stafflogin/submit'}" method="POST">
		<table class="framed">
			<tr>
				<td><span th:text="#{fieldLabel.email}">email</span></td>
				<td colspan="3">
					<fieldset>
						<input type="text" th:field="*{email}">

					</fieldset>
				</td>
			</tr>
			<tr>
				<td><span th:text="#{fieldLabel.password}">Password</span></td>
				<td colspan="3">
					<fieldset> <input type="password" th:field="*{password}">

					</fieldset>
				</td>

			</tr>
			<tr>
				<td>
					<input type="submit" />
				</td>
				<td>
					<input type="reset" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>